.md-expander {
  background: '{{background-hue-1}}';

  .md-expander-header {
    .md-title {
      color: '{{foreground-1}}';
    }

    .md-expander-icon svg {
      fill: '{{foreground-3}}';
    }

  }
}
